@font-face {
	font-family: IRANSans_Bold;
	font-style: normal;
	font-weight: bold;
	src: url('../../assets/font/IRANSans_Black.ttf');
}

@font-face {
	font-family: IRANSans_Normal;
	font-style: normal;
	font-weight: normal;
	src: url('../../assets/font/IRANSans_Medium.ttf');
}

@font-face {
	font-family: IRANSans_Medium;
	font-style: normal;
	font-weight: 500;
	src: url('../../assets/font/IRANSans_Bold.ttf');
}