.main {
    height: 100vh;
    background-color: #f9fafc;
    width: calc(100% - 280px) !important;
    margin-top: 4rem !important;
    margin-left: 0 !important;
    float: left !important;
    padding-right: 1.5rem;
    margin-bottom: 5rem !important;
}
