.cardHeader {
    position: relative;
    margin-bottom: 1.5rem;
}

.deleteUserBtn {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

.addUserContainer {
    margin-top: 1.5rem !important;
}

.required label::after {
    content: "*";
    color: red !important;
}

.addUserBtn {
    display: flex !important;
    margin-top: 1.5rem !important;
    margin-right: auto !important;
}

.profileImage {
    max-width: 5rem;
    width: 100%;
    max-height: 5rem;
    height: 100%;
    font-size: 5rem !important;
}
